$tablet: 768px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
}

$phone: 425px;
@mixin phone {
    @media (max-width: #{$phone}) {
        @content
    }
}

.main__container {
    display: flex;
    align-items: center;
    @include phone {
        justify-content: center;
    }
    .main__description {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10%;
        width: 800px;
        font-family: 'Cormorant Garamond';
        color: #ffffff;
        background: rgba(0, 0, 0, 0.7);
        padding: 30px 50px;
        @include tablet {
            width: 500px;
        }
        @include phone {
            width: 280px;
            padding: 20px;
            position: initial;
        }
        h1 {
            font-size: 70px;
            line-height: 0.9;
            @include phone {
                font-size: 50px;
            }
        }
        h3 {
            font-size: 24px;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 5px;
            @include phone {
                font-size: 20px;
            }
        }
        span {
            color: #11a41c;
        }
    }
    .description__btn {
        width: 200px;
        height: 40px;
        border: none;
        background: rgba(8, 3, 97, 1);
        border-radius: 5px;
        color: #ffffff;
        font-family: 'Montserrat Alternates';
        outline: none;
        cursor: pointer;
        .arrow__icon {
            margin-left: 5px;
            transition: .5s ease;
        }
    }
}