<header [ngStyle]="{'background-image': getHeaderBackgroundImg(), 'background-position' : 'center', 'height' : '950px', 'width' : '100%'}" class="main__container">
    <section class="main__description">
        <h1>Skup złomu i metali kolorowych</h1>
        <h3>Nasza kompleksowa usługa jest w bardzo konkurencyjnej cenie, jeśli chcesz dowiedzieć się więcej <span>kliknij tutaj:</span></h3>
        <button class="description__btn" (mouseover)='hover=true' (mouseleave)='hover=false' [ngStyle]="{color : hover==true ? '#11a41c' : '#ffffff'}" ngx-scroll-to [ngx-scroll-to-offset]="800">Klinkij Tutaj<i [ngStyle]="{opacity : hover==true ? '1' : '0', 'margin-left' : hover==true ? '25px' : '5px'}"  class="fas fa-arrow-right arrow__icon"></i></button>
    </section>
</header>