<carousel id='carousel' class="carousel__container">
    <slide>
        <img src="assets/images/2.jpg">
        <div class="carousel-caption d-none d-md-block">
            <h3>NAJLEPSZE CENY SKUPU ZŁOMU NA PODLASIU</h3>
            <button>CENNIK</button>
        </div>
    </slide>
    <slide>
        <img src="assets/images/3.jpg">
        <div class="carousel-caption d-none d-md-block">
            <h3>MOŻLIWOŚĆ ODBIORU WŁASNYM TRANSPORTEM</h3>
            <button>SKUPUJEMY</button>
        </div>
    </slide>
</carousel>