.about__container {
    font-family: 'Average';
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25rem;
    margin: 20px 0;
    span {
        color: #11a41c;
    }
    .column__left {
        width: 30rem;
        h3 {
            font-family: 'Cormorant Garamond';
            color: rgba(8, 3, 97, 1);
            font-size: 4rem;
        }
        p {
            font-size: 18px;
        }
    }
    .column__right {
        h4 {
            font-family: 'Cormorant Garamond';
            font-size: 4rem;
            color: rgba(8, 3, 97, 1);
        }
        ul {
            font-size: 18px;
        }
    }
}