<section id="about" class="about__container">
    <article class="column__left">
        <h3>Art-Metal</h3>
        <p>Zajmuje się skupem złomu, metali kolorowych: miedzi, mosiądzu, brązu, aluminium, ołowiu, cyny i cynku. Skupujemy również metale szlachetne takie jak platyna czy palad. Ponadto można u nas sprzedać srebro i złoto w każdej postaci np: monet, zegarków.
            <span>Posiadamy wieloletnie doświadczenie w branży</span>, dzięki temu profesjonalnie wycenimy przyjmowane surowce na bazie ich składu chemicznego oferujac przy tym najkorzystniejsze ceny. Dysponujemy wagą samochodową oraz mniejszymi wagami
            elektronicznymi. Posiadamy możliwości techniczne do rozładunku i załadunku aut osobowych i ciężarowych.</p>
    </article>
    <article class="column__right">
        <h4>Gwarantujemy:</h4>
        <ul>
            <li><span>rzetelną i profesjonalną obsługę</span></li>
            <li>terminowe płatności</li>
            <li>najwyższe ceny i możliwość ich negocjacji</li>
            <li>możliwość odbioru własnym transportem</li>
        </ul>
    </article>
</section>