<nav class="nav__menu" [class.modified__background]='navModify'>
    <div class="hamburger__icon">
        <div class="first__line"></div>
        <div class="second__line"></div>
        <div class="third__line"></div>
    </div>
    <div class="logo__icon">Logo</div>
    <ul class="nav__items">
        <li class="item"><a [class.modified__color]='navModify'>Strona główna</a></li>
        <li class="item"><a [class.modified__color]='navModify'>Skupujemy</a></li>
        <li class="item"><a [class.modified__color]='navModify' routerLink="">Recykling Kabli</a></li>
        <li class="item"><a [class.modified__color]='navModify' routerLink="">Cennik</a></li>
        <li class="item"><a [class.modified__color]='navModify' routerLink="">Kontakt</a></li>
    </ul>
</nav>