.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0px 18px 20px -6px rgba(0, 0, 0, .2);
    z-index: 1;
    transition: 0.5s ease;
    .hamburger__icon {
        display: none;
    }
    .logo__icon {
        margin: 10px;
        padding: 0;
        font-family: 'Pridi', serif;
    }
    .nav__items {
        list-style: none;
        display: flex;
        margin: 10px;
        padding: 0;
        .item {
            cursor: pointer;
            margin: 0 20px;
            font-family: 'Montserrat Alternates', sans-serif;
            a {
                transition: 0.5s ease;
                text-decoration: none;
                color: #ffffff;
                &:hover {
                    color: #11a41c;
                }
            }
        }
    }
}

.modified__background {
    background: #ffffff;
    transition: 0.5s ease;
}

.modified__color {
    color: #000000 !important;
    transition: 0.5s ease;
    &:hover {
        color: #11a41c !important;
    }
}