<nav class="nav__menu" [class.modified__background]='navModify'>
    <div class="hamburger__icon">
        <div class="first__line"></div>
        <div class="second__line"></div>
        <div class="third__line"></div>
    </div>
    <div class="logo__icon">Logo</div>
    <ul class="nav__items">
        <li class="item"><a [class.modified__color]='navModify' (click)="goToMain()">Strona główna</a></li>
        <li class="item"><a [class.modified__color]='navModify' (click)="goToBuyOut()">Skupujemy</a></li>
        <li class="item"><a [class.modified__color]='navModify' (click)="goToPricelist()">Cennik</a></li>
        <li class="item"><a [class.modified__color]='navModify' (click)="goToContact()">Kontakt</a></li>
    </ul>
</nav>