<app-navbar></app-navbar>
<app-header></app-header>
<app-about></app-about>
<app-carousel></app-carousel>
<app-description></app-description>
<app-localization></app-localization>
<router-outlet></router-outlet>
<footer class="footer__wrapper">
    <section class="left__column">
        <div class="column__title">
            <h4>Kontakt:</h4>
            <p>Telefon: 609-055-555, 732-501-501<br> Email: biuro@skupzlomubialystok.info.pl</p>
        </div>
        <div>
            <span>Otwarte w godzinach:</span>
            <p>pon-pt: 8.00-16<br> sob: 8.00-13</p>
        </div>
    </section>
    <section class="right__column">
        <div class="column__title">
            <h4>Dane firmy:</h4>
            <p>Skup złomu ART-METAL Sp. z o.o.<br> ul. Towarowa 1 15-007 Białystok</p>
        </div>
        <div>
            <span>Znajdź nas:</span>
            <p>REGON: 368683407<br> NIP: 9662116321</p>
        </div>
    </section>
</footer>