@import url('https://fonts.googleapis.com/css?family=Average|Cormorant+Garamond|Montserrat+Alternates&display=swap');
$tablet: 768px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
}

.footer__wrapper {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-family: 'Cormorant Garamond';
    position: absolute;
    bottom: 0;
    @include tablet {
        height: 200px;
    }
    h4 {
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    p {
        font-size: 18px;
    }
    span {
        font-size: 22px;
        color: #11a41c;
    }
    .left__column,
    .right__column {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
    }
    .column__title {
        margin: 0 20px;
    }
}