@import url('https://fonts.googleapis.com/css?family=Average|Cormorant+Garamond|Montserrat+Alternates&display=swap');
body {
    margin: 0;
    padding: 0;
}

.footer__wrapper {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    h4 {
        font-family: 'Montserrat Alternates';
        font-size: 20px;
        color: rgb(84, 75, 255);
    }
    p {
        font-family: 'Cormorant Garamond';
        font-size: 18px;
    }
    span {
        font-family: 'Cormorant Garamond';
        font-size: 22px;
        color: #11a41c;
    }
    .left__column,
    .right__column {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
    }
    .column__title {
        margin: 0 20px;
    }
}