<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer__wrapper">
    <section class="left__column">
        <div class="column__title">
            <span>Kontakt:</span>
            <p>Telefon: 609-055-555, 732-501-501<br> Email: biuro@skupzlomubialystok.info.pl</p>
        </div>
        <div>
            <h4>Otwarte w godzinach:</h4>
            <p>pon-pt: 8.00-16<br> sob: 8.00-13</p>
        </div>
    </section>
    <section class="right__column">
        <div class="column__title">
            <span>Dane firmy:</span>
            <p>Skup złomu ART-METAL Sp. z o.o.<br> ul. Towarowa 1 15-007 Białystok</p>
        </div>
        <div>
            <h4>Znajdź nas:</h4>
            <p>REGON: 368683407<br> NIP: 9662116321</p>
        </div>
    </section>
</footer>