$phone: 425px;
@mixin phone () {
    @media (max-width: #{$phone}) {
        @content
    }
}

.contact__component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 100px 0;
    @include phone {
        margin-bottom: 400px;
    }
    h2 {
        font-family: 'Cormorant Garamond';
        font-size: 50px;
        margin: 20px 0;
    }
    p {
        font-family: 'Average';
        font-size: 20px;
        margin: 10px 0;
    }
}

.contact__left,
.contact__right {
    margin: 40px;
}

#map {
    height: 450px;
    width: 500px;
}