<article class="contact__component">
    <section class="contact__left">
        <h2>Skup złomu<br> ART-METAL Sp. z o.o.</h2>
        <p>ul. Towarowa 1<br> 15-007 Białystok</p>
        <p>Telefon: 609-055-555, 732-501-501<br> Email: biuro@skupzlomubialystok.info.pl</p>
        <p>godziny otwarcia:<br> pon-pt: 8.00-16.00<br> sob: 8.00-13.00</p>
        <p>REGON: 200743143<br> NIP: 9662086904</p>
    </section>
    <section class="contact__right">
        <div id="map">
            <div></div>
        </div>
    </section>
</article>