<article class="buyout__component">
    <section class="buyout__firstrow">
        <div class="description">
            <h4>Nasza firma zajmuje się:</h4>
            <ul>
                Skupem i sprzedażą złomu stalowego w każdej postaci jak np.:
                <ul>
                    <li> N-10, N-2, N-7, N-5, N-6, żeliwo</li>
                </ul>
            </ul>
            <ul>
                Sprzedażą i skupem złomu metali kolorowych takich jak:
                <ul>
                    <li>miedź</li>
                    <li>mosiądz</li>
                    <li>aluminium</li>
                    <li>ołów</li>
                    <li>brąz </li>
                    <li>stal nierdzewna</li>
                </ul>
            </ul>
        </div>
        <img src="assets/images/7.jpg" alt="">
    </section>
    <section class="buyout__secondrow">
        <div class="description">
            <h4>Możemy ci zagwarantować:</h4>
            <ul>
                <li>rzetelną i profesjonalną obsługę</li>
                <li>terminowe płatności</li>
                <li>najwyższe ceny i możliwość ich negocjacji</li>
                <li>możliwość odbioru własnym transportem</li>
            </ul>
        </div>
        <img src="assets/images/8.jpg" alt="">
    </section>
</article>