$phone: 425px;
@mixin phone () {
    @media (max-width: #{$phone}) {
        @content
    }
}

$exs-phone: 375px;
@mixin exs () {
    @media (max-width: #{$exs-phone}) {
        @content
    }
}

.pricelist__component {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 90px 0;
    @include exs() {
        margin-bottom: 150px;
    }
    h4 {
        font-family: 'Average';
        font-size: 16px;
        color: rgba(8, 3, 97, 1);
        margin: 0;
    }
    p {
        font-family: 'Cormorant Garamond';
        font-size: 25px;
        margin: 10px;
    }
    span {
        color: #11a41c;
    }
    h2 {
        font-family: 'Cormorant Garamond';
        font-size: 40px;
        margin: 20px;
    }
}

.pricelist__heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.pricelist__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include phone {
        height: 1100px;
    }
    td,
    th {
        border-bottom: 1px solid rgba(8, 3, 97, .3);
    }
    th {
        font-family: 'Cormorant Garamond';
        font-size: 20px;
    }
    td {
        font-family: 'Average';
        font-size: 15px;
    }
}