<article class="pricelist__component">
    <section class="pricelist__heading">
        <p>Z powodu wahań cen metali na LME ceny mogą ulec zmianie. W związku z tym prosimy o telefoniczne awizowanie każdej dostawy w celu potwierdzenia cen.<br> <span>Cena złom Białystok – najwyższa! Tel. 662 -884- 884</span> </p>
        <h4>Ceny obowiązują dla indywidualnych dostawców. Dla hurtowników ceny ustalamy indywidualnie!</h4>
    </section>
    <section class="pricelist__table">
        <h2>ART-METAL Białystok ul. Towarowa 1, CENNIK ZŁOM NA DZIEŃ 07.08.2018r.</h2>
        <table>
            <tr>
                <th>ZŁOM STALOWY</th>
                <th>złotych/tonę</th>
            </tr>
            <tr>
                <td> Złom blacha</td>
                <td> 650</td>
            </tr>
            <tr>
                <td> Złom stalowy wsadowy</td>
                <td> 850</td>
            </tr>
            <tr>
                <th> ZŁOM METALI KOLOROWYCH</th>
                <th> złotych/kg</th>
            </tr>
            <tr>
                <td> Miedź Milbera</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Cu miedzi niesort </td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Brąz</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Mosiądz żółty / poprodukcja</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Mosiądz pobiał</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Mosiądz chłodnice</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Cynk</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Znal</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Ołów czysty</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Akumulatory</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Kwasówka</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Aluminium linka</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Aluminium profil nie lakierowany</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Aluminium odlew/plastyka</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Aluminium felgi</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Aluminium puszki</td>
                <td> na tel</td>
            </tr>
            <tr>
                <td> Silniki elektryczne</td>
                <td> 1-2</td>
            </tr>
        </table>
        <h4><span>POZOSTAŁE METALE CENNIK TEL 662-884-884</span></h4>
    </section>
</article>