$phone: 425px;
@mixin phone () {
    @media (max-width: #{$phone}) {
        @content
    }
}

.buyout__component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    @include phone {
        margin-bottom: 300px;
    }
}

.buyout__firstrow,
.buyout__secondrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    img {
        @include phone {
            width: 400px;
        }
    }
}

.buyout__secondrow {
    img {
        width: 700px;
        @include phone {
            width: 400px;
        }
    }
}

.description {
    margin: 20px;
    width: 400px;
    h4 {
        font-family: 'Cormorant Garamond';
        font-size: 30px;
        margin: 10px;
        color: #11a41c;
    }
    li,
    ul {
        list-style: circle;
        font-family: 'Average';
        font-size: 16px;
    }
    li {
        color: #080361;
    }
}